{% extends 'base.html.twig' %}

{% block title %}Schedule index{% endblock %}

{% block inside_body %}


    <h1>Horaris dels doctors</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Doctor/a</th>
                <th>Dia</th>
                <th>Torn que realitza</th>
                <th>Accions</th>
            </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.doctor.fullName }}</td>
                <td>
                    {% for day in schedule.day %}
                        {{ day|trans }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for shift in schedule.shift %}
                        {{ shift|trans }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-secondary" href="{{ path('app_schedule_show', {'id': schedule.id}) }}">show</a>
                        <a class="btn btn-secondary" href="{{ path('app_schedule_edit', {'id': schedule.id}) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No s'han trobat resultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('app_schedule_new') }}">Crear un nou horari</a>

{% endblock %}
