{% extends 'base.html.twig' %}

{% block title %}Schedule index{% endblock %}

{% block inside_body %}

    <h1>Schedule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Day</th>
                <th>Shift</th>
                <th>Hidden</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.id }}</td>
                <td>{{ schedule.day }}</td>
                <td>{{ schedule.shift }}</td>
                <td>{{ schedule.hidden ? schedule.hidden|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_schedule_show', {'id': schedule.id}) }}">show</a>
                    <a href="{{ path('app_schedule_edit', {'id': schedule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('app_schedule_new') }}">Crear un nou horari</a>
{% endblock %}
