{% extends 'base.html.twig' %}

{% block title %}Índex d'horaris{% endblock %}

{% block inside_body %}


    <h1>Horaris dels doctors</h1>
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="input-group mt-2">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input type="text" id="search" class="form-control" placeholder="Buscar Doctor o altres...">
                <div class="input-group-append">
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Doctor/a</th>
                <th>Dia</th>
                <th>Torn que realitza</th>
                <th>Ubicació</th>
                <th>Accions</th>
            </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            <tr>
                <td>
                    {% if schedule.doctor is not null %}
                        {{ schedule.doctor.getFullName() }}
                    {% else %}
                        No s'ha assignat aquest horari a cap doctor
                    {% endif %}
                </td>
                <td>
                    {% for day in schedule.day %}
                        {{ day|trans }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for shift in schedule.shift %}
                        {{ shift|trans }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if schedule.location %}
                        Planta: {{ schedule.location.getFloor }}, Sala: {{ schedule.location.getRoom }}
                    {% else %}
                        No assignat
                    {% endif %}
                </td>

                <td>
                    <div class="btn-group">
                        <a class="btn btn-secondary" href="{{ path('app_schedule_edit', {'id': schedule.id}) }}">Edita</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No s'han trobat resultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {% set currentPage = schedules.currentPageNumber %}
            {% set pageCount = schedules.pageCount %}

            {# Botó de pàgina anterior #}
            {% if currentPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('schedule_list', {'page': currentPage - 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            {# Números de pàgina #}
            {% for i in 1..pageCount %}
                <li class="page-item {% if i == currentPage %}active{% endif %}">
                    <a class="page-link" href="{{ path('schedule_list', {'page': i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            {# Botó de pàgina següent #}
            {% if currentPage < pageCount %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('schedule_list', {'page': currentPage + 1}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}

        </ul>
    </nav>

    {{ include('doctor/refresh.html.twig') }}


    <a class="btn btn-primary" href="{{ path('app_schedule_new') }}">Crear un nou horari</a>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#search').on('input', function() {
                var searchTerm = $(this).val().toLowerCase();

                $('.table tbody tr').each(function() {
                    var lineStr = $(this).text().toLowerCase();
                    if (lineStr.indexOf(searchTerm) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
{% endblock %}
