{% extends 'base.html.twig' %}

{% block title %}Index d'especialitats{% endblock %}

{% block inside_body %}
    <h1>Índex d'especialitats</h1>
    <div class="row mb-4">
    <div class="col-md-6">
        <div class="input-group mt-2">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input type="text" id="search" class="form-control" placeholder="Buscar Especialitats...">
            <div class="input-group-append">
            </div>
        </div>
    </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Tipus d'especialitat</th>
                <th>Accions</th>
            </tr>
        </thead>
        <tbody>
        {% for speciality in specialities %}
            <tr>
                <td>{{ speciality.TypeSpeciality }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-secondary" href="{{ path('app_speciality_show', {'id': speciality.id}) }}">Mostra</a>
                        <a class="btn btn-secondary" href="{{ path('app_speciality_edit', {'id': speciality.id}) }}">Edita</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No s'han trobat més resultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {% set currentPage = specialities.currentPageNumber %}
            {% set pageCount = specialities.pageCount %}

            {# Botó de pàgina anterior #}
            {% if currentPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('speciality_list', {'page': currentPage - 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            {# Números de pàgina #}
            {% for i in 1..pageCount %}
                <li class="page-item {% if i == currentPage %}active{% endif %}">
                    <a class="page-link" href="{{ path('speciality_list', {'page': i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            {# Botó de pàgina següent #}
            {% if currentPage < pageCount %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('speciality_list', {'page': currentPage + 1}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}

        </ul>
    </nav>
    <a class="btn btn-primary" href="{{ path('app_speciality_new') }}">Crea nova especialitat</a>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#search').on('input', function() {
                var searchTerm = $(this).val().toLowerCase();

                $('.table tbody tr').each(function() {
                    var lineStr = $(this).text().toLowerCase();
                    if (lineStr.indexOf(searchTerm) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
    </script>

    </script>
{% endblock %}
