{% extends 'base.html.twig' %}

{% block title %}Espcialitats{% endblock %}

{% block inside_body %}
    <h1>Especialitats</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type_Speciality</th>
                <th>Hidden</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for speciality in specialities %}
            <tr>
                <td>{{ speciality.id }}</td>
                <td>{{ speciality.TypeSpeciality }}</td>
                <td>{{ speciality.hidden ? speciality.hidden|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_speciality_show', {'id': speciality.id}) }}">show</a>
                    <a href="{{ path('app_speciality_edit', {'id': speciality.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_speciality_new') }}">Create new</a>
{% endblock %}
