{% extends 'base.html.twig' %}

{% block title %}Especialitat{% endblock %}

{% block inside_body %}
    <h1>Especialitat</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>{{ speciality.id }}</td>
            </tr>
            <tr>
                <th>Tipus especialitat</th>
                <td>{{ speciality.TypeSpeciality }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('app_speciality_edit', {'id': speciality.id}) }}">Edita</a>
    {{ include('speciality/_delete_form.html.twig') }}
    {{ include('speciality/_back_to_list.html.twig') }}

{% endblock %}
