{% extends 'base.html.twig' %}

{% block title %}Panel d'administrador{% endblock %}

{% block inside_body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mb-5">✅ Panel d'administrador</h1>

            <ul class="list-group">
                <h2 class="mb-2">Dades en específic d'un doctor</h2>
                <div class="mb-3">
                    Aquí podeu consultar i modificar les dades <strong> d'un doctor específic</strong>, com ara l'horari i l'especialitat.
                </div>
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ path('app_doctor_index') }}">Editar dades els doctors</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ path('app_schedule_index') }}">Editar horaris dels doctors</a>
                </li>

            </ul>
            <p></p>
            <ul class="list-group mt-5">
                <h2 class="mb-3">Dades en general dels doctors</h2>
                    <p>En aquesta secció, podreu canviar i actualitzar les dades que s'apliquen <strong>a tots els doctors</strong>.</p>

                    <p>Aquestes modificacions són generals i no s'enfoquen en un doctor individual com a la secció anterior.</p>
                <li class="list-group-item">
                    <a class="btn btn-primary disabled" href="{{ path('app_location_index') }}">Editar plantes i consultes</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ path('app_speciality_index') }}">Editar especialitats</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ path('app_schedule_index') }}">Editar horaris</a>
                </li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}
