{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block inside_body %}
    <h1>Location</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ location.id }}</td>
            </tr>
            <tr>
                <th>Floor</th>
                <td>{{ location.floor }}</td>
            </tr>
            <tr>
                <th>Room</th>
                <td>{{ location.room }}</td>
            </tr>
            <tr>
                <th>Hidden</th>
                <td>{{ location.hidden ? location.hidden|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_location_index') }}">back to list</a>

    <a href="{{ path('app_location_edit', {'id': location.id}) }}">edit</a>

    {{ include('location/_delete_form.html.twig') }}
{% endblock %}
