{% extends 'base.html.twig' %}

{% block title %}Index doctors{% endblock %}

{% block inside_body %}

    <h1>Llistat de doctors</h1>
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="input-group mt-2">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input type="text" id="search" class="form-control" placeholder="Buscar Doctor o altres...">
                <div class="input-group-append">
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Cognoms</th>
                <th>Torns</th>
                <th>Dies</th>
                <th>Especialitats</th>
                <th>Accions</th>
            </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.surname }}</td>
                <td>
                    {% for schedule in doctor.schedules %}
                        {% for shift in schedule.shift %}
                            {{ shift|trans }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
                <td>
                    {% for schedule in doctor.schedules %}
                        {% for day in schedule.day %}
                            {{ day|trans }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
                <td>
                    {% for speciality in doctor.specialities %}
                        {{ speciality.getTypeSpeciality() }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>

                <td>
                    <div class="btn-group">
                        <a class="btn btn-secondary" href="{{ path('app_doctor_show', {'id': doctor.id}) }}">Mostrar</a>
                        <a class="btn btn-secondary" href="{{ path('app_doctor_edit', {'id': doctor.id}) }}">Editar</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No s'han trobat més registres</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {% set currentPage = doctors.currentPageNumber %}
            {% set pageCount = doctors.pageCount %}

            {# Botó de pàgina anterior #}
            {% if currentPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('doctor_list', {'page': currentPage - 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            {# Números de pàgina #}
            {% for i in 1..pageCount %}
                <li class="page-item {% if i == currentPage %}active{% endif %}">
                    <a class="page-link" href="{{ path('doctor_list', {'page': i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            {# Botó de pàgina següent #}
            {% if currentPage < pageCount %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('doctor_list', {'page': currentPage + 1}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}

        </ul>
    </nav>


    <a class="btn btn-primary" href="{{ path('app_doctor_new') }}">Crear un nou doctor/a</a>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#search').on('input', function() {
                var searchTerm = $(this).val().toLowerCase();

                $('.table tbody tr').each(function() {
                    var lineStr = $(this).text().toLowerCase();
                    if (lineStr.indexOf(searchTerm) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
    </script>

    </script>
{% endblock %}


