{% extends 'base.html.twig' %}

{% block title %}Doctor{% endblock %}

{% block inside_body %}
    <h1>Doctor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ doctor.id }}</td>
            </tr>
            <tr>
                <th>Noms</th>
                <td>{{ doctor.name }}</td>
            </tr>
            <tr>
                <th>Cognoms</th>
                <td>{{ doctor.surname }}</td>
            </tr>

        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('app_doctor_edit', {'id': doctor.id}) }}">Edita</a>
    {{ include('doctor/_back_to_list.html.twig') }}

    {{ include('doctor/_delete_form.html.twig') }}

{% endblock %}
