{% extends 'baseNL.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="mt-5"></div>

    <div class="bg-image"></div>
    <section class="text-center mt-5">
        <div class="card mx-4 mx-md-auto shadow-5-strong" style="
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
    max-width: 600px; /* Ajusta el valor según tus preferencias */
    ">
            <div class="card-body py-5 px-md-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h1 class="fw-bold mb-5" style="margin-top: 50px;">Inicia sessió</h1>

                        <form action="{{ path('app_login') }}" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label text-start"><strong>Correu electrònic:</strong></label>
                                <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="nom@exemple.com">
                            </div>

                            <div class="form-outline mb-4">
                                <label for="password" class="form-label text-start"><strong>Contrasenya:</strong></label>
                                <input type="password" id="password" name="_password" class="form-control">
                            </div>

                            <input type="hidden" name="_target_path" value="/">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Accedeix
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <style>
        .bg-image {
            background-image: url("{{ asset('images/wallpaper4HCAs.jpg') }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            position: fixed;
            top: 0;
            text-align: center;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            z-index: -1;
        }
    </style>
{% endblock %}
