{% extends 'baseSC.html.twig' %}

{% block title %}Pantalla informativa{% endblock %}

{% block inside_body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mb-5">TORN</h1>
                <table class="table container-fluid">
                    <thead>
                    <tr>
                        <th style="background-color: #ADD8E6;" scope="col">Especialitat</th>
                        <th style="background-color: #ADD8E6;" scope="col">Metge/Metgessa</th>
                        <th style="background-color: #ADD8E6;" scope="col">Localització</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for doctor in doctors %}
                        <tr>
                            <td>
                                {% if doctor.specialities|length > 0 %}
                                    {% for speciality in doctor.specialities %}
                                        {{ speciality.getTypeSpeciality() }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                {% else %}
                                    No asignado
                                {% endif %}
                            </td>
                            <td>{{ doctor.name }} {{ doctor.surname }}</td>
                            <td>
                                {% if doctor.schedules|length > 0 %}
                                    Planta
                                    {% for schedule in doctor.schedules %}
                                        {{ schedule.location ? schedule.location.getFloor : ' ' }}, Consulta {{ schedule.location ? schedule.location.getRoom : ' ' }}
                                        {% if not loop.last %}{% endif %}
                                    {% endfor %}
                                {% else %}
                                    No asignado
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}
